<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">

    <title>About me</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/cover.css') }}" rel="stylesheet">

  </head>

  <body>
  <div class="container site-wrapper">
    <div class="row site-wrapper-inner">
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="576px" height="567px" viewBox="0 0 576 567" enable-background="new 0 0 576 567" xml:space="preserve">
        <polygon id="polygon1" fill="#E74C3C" points="468,567 108,567 158.687,503.115 419.439,503.115 ">
          <animate attributeName="fill" attributeType="CSS" from="#E74C3C" to="#fbfcfc" begin="polygon1.mouseover" end="polygon4.mouseout" dur="0.3s" fill="freeze"/>
          <animate attributeName="fill" attributeType="CSS" from="#fbfcfc" to="#E74C3C" begin="polygon1.mouseout" dur="0.3s" fill="freeze"/>
        </polygon>
        <polygon id="polygon2" fill="#E74C3C" points="99,567 0,225 81,252 153,495 ">
          <animate attributeName="fill" attributeType="CSS" from="#E74C3C" to="#fbfcfc" begin="polygon2.mouseover" end="polygon4.mouseout" dur="0.3s" fill="freeze"/>
          <animate attributeName="fill" attributeType="CSS" from="#fbfcfc" to="#E74C3C" begin="polygon2.mouseout" dur="0.3s" fill="freeze"/>
        </polygon>
        <polygon id="polygon3" fill="#E74C3C" points="576,225 477,567 422.492,495.001 495,252 ">
          <animate attributeName="fill" attributeType="CSS" from="#E74C3C" to="#fbfcfc" begin="polygon3.mouseover" end="polygon4.mouseout" dur="0.3s" fill="freeze"/>
          <animate attributeName="fill" attributeType="CSS" from="#fbfcfc" to="#E74C3C" begin="polygon3.mouseout" dur="0.3s" fill="freeze"/>
        </polygon>
        <polygon id="polygon4" fill="#E74C3C" points="0,216 288,0 288,90 81,243 ">
          <animate attributeName="fill" attributeType="CSS" from="#E74C3C" to="#fbfcfc" begin="polygon4.mouseover" end="polygon4.mouseout" dur="0.3s" fill="freeze"/>
          <animate attributeName="fill" attributeType="CSS" from="#fbfcfc" to="#E74C3C" begin="polygon4.mouseout" dur="0.3s" fill="freeze"/>
        </polygon>
        <polygon id="polygon5" fill="#E74C3C" points="297,0 576,216 495,243 297,90 ">
          <animate attributeName="fill" attributeType="CSS" from="#E74C3C" to="#fbfcfc" begin="polygon5.mouseover" end="polygon4.mouseout" dur="0.3s" fill="freeze"/>
          <animate attributeName="fill" attributeType="CSS" from="#fbfcfc" to="#E74C3C" begin="polygon5.mouseout" dur="0.3s" fill="freeze"/>
        </polygon>
      </svg>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
